<div>

  <button class="btn btn-default" (click)="fileUploader.click()" (change)="fileChange($event.target.files)">
    Load Image
    <input type="file" #fileUploader style="display:none" accept="image/*" />
  </button>
  <button class="btn btn-default" [disabled]="!img" (click)="drawRotated()">
    Rotate Image
  </button>
  <a class="btn btn-default" [href]="url" (click)="download()" download>
    Save Image
  </a>
  <div>
    <canvas width="600" height="600" #imgSrc></canvas>

  </div>
</div>
