<div>
  <button (click)="fileUploader.click()" (change)="fileChange($event.target.files)">
    upload
    <input type="file" multiple #fileUploader style="display:none" accept="image/*" />
  </button>

</div>
<!-- <div *ngFor="let image of imageArray;">
  <img width="100" height="100" [src]="getSanitizeImage(image.src)">
  <span>{{image.name}}</span>
</div> -->
<div class="row outer">
  <div class="col-md-4 col-12 col-sm-6 center-content" *ngFor="let image of imageArray;">
    <figure >
      <img width="250px" height="150px" [src]="getSanitizeImage(image.src)" [alt]="image.name">
      <figcaption>
        Name:{{image.name}}
      </figcaption>
    </figure>
  </div>
</div>
